@model Agent

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

@if (Model != null)
{
    <nav aria-label== "breadcrumb">
    <ol class="breadcrumb">
        <li class= "breadcrumb-item"><a asp-action="Index">Popis agenata</a></li>
        <li class="breadcrumb-item active">@Model.FullName</li>
    </ol>
    </nav>



    <div>
        <h4>Agent</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                ID
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ID)
            </dd>
            <dt>
                Ime i prezime
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FullName)
            </dd>
            <dt>
                Kontakt
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Contact)
            </dd>
            <dt>
                Datum rođenja
            </dt>
            <dd>
                @Model?.DateOfBirth
            </dd>
            <dt>
               Broj prodanih nekretnina
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EstatesSold)
            </dd>
            <dt>
                Radno iskustvo u godinama
            </dt>
            <dd>
                @Model?.WorkExperience
            </dd>

        </dl>

        <div>
            <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-primary">Uredi</a>
        </div>
    </div>

}
else
{
    <div class="alert alert-danger">
        Nije odabran ispravan ID agenta.
    </div>

}

