

<table id="estateList" style="margin-top: 20px;" class="table table-condensed">
    <thead>
        <tr>
            <th>Nekretnina</th>
            <th>Adresa</th>
            <th>Interior(m²)</th>
            <th>Cijena (EUR)</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID">@item.Name</a>
                </td>
                <td>@item.Address</td>
                <td>@item.InteriorSize</td>
                <td>@item.Price</td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                </td>
                <td>
                    <input type="button" id="btnDelete" class="btn btn-danger" value="Delete" onclick="DeleteAjax(@item.ID)">
                </td>
            </tr>
        }
    </tbody>
</table>

